* {
  margin:0;
  padding:0;
}

html, body {
  width: 100%;
  height: 100%;
}

#countingBox {
  width: 120px;
  height: 40px;
  padding: 0.5em;
  background-color: #bbbbbb;
  border-style: double;
  position: fixed;
  z-index: 5;
  text-align: center;
  vertical-align: middle;
  margin:50px auto;
}

#scene {
  position: relative;
}

#disclaimer {
    position: relative;
    bottom: 0;
}

/*.container {
  width:100%;
}

.container > * {
  display:block;
}*/
