/* general styles */
* {
  margin:0;
  padding:0;
}

html, body {
  width: 100%;
  height: 100%;
}

#countingBox {
  width: 130px;
  height: 300px;
  padding: 0.5em;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  position: fixed;
  z-index: 5;
  text-align: center;
  vertical-align: middle;
  margin:50px auto;
}

body {
  padding-bottom: 60px;
}

.footer {
  position:absolute;
  top: 1010px;
  width: 700px;
}

.container {
  width:100%;
}

.container > * {
  display:block;
  margin: auto 170px;
}

/* tutorial styles */
#scene {
  position: absolute;
}

#full {
  color: #03b300;
  font-weight: bold;
}

#partial {
  color: #b35700;
  font-weight: bold;
}

#empty {
  color: #b000b3;
  font-weight: bold;
}
